<h1>Log in Page</h1>

<form action="/my_page" method="POST">

	<label for="name">Your email:</label>
  <input type="email" name="email" placeholder="han@smugglers.sexy">

  <!-- email -->

  	<label for="name">Your password:</label> 
  <input type="password" name="password"> 
<div><button type="submit">Submit</button></div>
</form>

<!-- password -->

<!-- name="email" -->
<!-- name="password" -->