<h1>Sorry, try again!</h1>

<img src="/try_again.gif"/>

<h2>Current score: <%= @score%> </h2>

<form action ='/trivia_type' method="post">
	<p>
	<button type="try">Try again</button>
	</p>
</form>

<form action ='/movies_home' method="get">
	<p>
	<button type="return">Return to homepage</button>
	</p>
</form>