<h1>Movie Home Page</h1>

<img height="350" width="530" src="/movieTrivia.jpg"/>

<form action ="/trivia_type" method="POST">
<p>Enter key word to search:
	 <input type="text" name = "key_word">
	 <button type="keyword_submit">Submit</button>
</p>
</form>