<h1>Select Trivia Type</h1>

<img src="/trivia.gif"/>

<ul>
<li><a href="/movies_year">Movie Year</a></li>
<li><a href="/rating">Movie Rating</a></li>
<li><a href="/director">Movie Director</a></li>
</ul>
