<ul>
<% @blogs_by_category.each do |post| %>
<li>
	<p> Title: <%= post.title %> </p>
	 <p> Category: <%= post.category %> </p>
	<p> Author: <%= post.author %></a> </p>
</li>
<% end %>
</ul>

<form action ="/posts" method="GET">
	<p>
	<button type="return">Return</button>
	</p>
</form>