<!-- app/views/site/home.html.erb -->

<h1>Word Central</h1>

<p>Your destination for text utilities.</p>

<%= link_to "Word count", "/text_inspections/new" %>
<%= link_to "Asciifying words", "/asciis/new" %>
<%= link_to "Lipsum", "/lipsum/new" %>

