<h1>Welcome to this timetracking tool</h1>

<p>Ironhack powered</p>

<%= render("site/partials/sign_up") %>

<a href="/contact"> Contact Page </a>

<img src="https://media.giphy.com/media/yoJC2MVaIq8dhbsKqc/giphy.gif" alt"dog and a child">